<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="container">
        <div class="animated-shape shape1"></div>
        <div class="animated-shape shape2"></div>
        <div class="animated-shape shape3"></div>
        <div class="todo-app">
            <h2>To-Do List</h2>
            
            <h3>There are no Tasks to do</h3>
        
            <table border="1">
                <tr>
                    <th>Task</th>
                    <th>Added</th>
                    <th>Action</th>
                </tr>
                
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="/remove/{{ i.key }}">Delete</a><br>
                        <a href="/edit/{{ i.key }}">Update</a>
                    </td>
                </tr>
                
            </table>
        
                   <form id="task-form" action="/add-task" method="POST">
                      <input  type="text" name="task "id="new-task" placeholder="Add a new task" required >
                          <button type="submit">Add</button>
                    </form>
                </div>
             </div>
        </div>
    </body>
</html>
    